.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.ant-tabs-tab {
  padding: 0px 30px 20px !important;
}

.ant-tabs-ink-bar .ant-tabs-ink-bar-animated {
  width: 50%;
}
