.ant-menu-dark .ant-menu-item-selected {
  background-color: white;
}

.ant-menu .ant-menu-item .ant-menu-item-icon {
  color: black;
}

.ant-menu-title-content {
  color: black;
}

.ant-menu-inline .ant-menu-item {
  height: 44px;
}
